djangoProject_News_Portal/.env
.idea/
djangoProject_News_Portal/__pycache__
protect/__pycache__
sign/__pycache__
db.sqlite3_1
DB_django
any_tests.py
news_portal/__pycache__/
news_portal/templatetags/__pycache__/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
for_tests.py
cache_files/
news_portal/templatetags/__pycache__/
news_portal/migrations/__pycache__/
news_portal/migrations/
for_tests.py
any_tests.py
mydata.json
news_portal/management/commands/__pycache__/cmdtest.cpython-312.pyc
djangoProject_News_Portal/TEST.py